{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header class="container">
      {% if user.is_authenticated %}
        <nav>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="btn btn-outline-primary" href="{% url 'index' %}">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-outline-primary" href="#">RELATÓRIOS</a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-outline-primary" href="{% url 'logout' %}">Sair</a>
                </li>
            </ul>
        </nav>
      {% else %}
        <p>Acesse.</p>
      {% endif %}
    </header>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <footer>

    </footer>

</body>
</html>