{% extends 'base.html' %}
{% block title %}SAFH | Cadastrar Ficha {% endblock %}
{% block content %}

<main>
    <h1>ADD Ficha</h1>
    <div class="container">
        {% if messages %}
            {% for m in messages %}
                <div class="alert alert-{{ m.tags }}">
                    <button class="close" data-dismiss="alert">X</button>
                    <strong>{{ m }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <form action="" method="POST" enctype="multipart/form-data" class="form-control">
        {% csrf_token %}
        {{ form }}
        <button>Cadastrar</button>
    </form>
</main>
{% endblock %}