{% extends 'base.html' %}
{% block title %}SAFH | Medicação{% endblock %}
{% block content %}
<h1>Medicação</h1>
    {% if medication %}
        {% for m in medication %}
            <h2>Nome: {{ m.name }}</h2>
            <h2>SUS: {{ m.sus }}</h2>
            <h2>Sexo: {{ m.sex }}</h2>
            <h2>Data de Nascimento: {{ m.birth_date }}</h2>
            <h2>Data da Consulta: {{ m.consult }}</h2>
            <h2>Ficha Médica: </h2><img src="{{ m.medical_record.url }}" alt="Ficha Médica">
        {% endfor %} 
    {% else %}
        <h2>Sem fichas de Medicação...</h2>
    {% endif %}
{% endblock %}