{% extends 'base.html' %}
{% block title %}SAFH | Observação{% endblock %}
{% block content %}
<h1>Observação</h1>
    {% if observation %}
        {% for o in observation %}
            <h2>Nome: {{ o.name }}</h2>
            <h2>SUS: {{ o.sus }}</h2>
            <h2>Sexo: {{ o.sex }}</h2>
            <h2>Data de Nascimento: {{ o.birth_date }}</h2>
            <h2>Data da Consulta: {{ o.consult }}</h2>
            <h2>Ficha Médica: </h2><img src="{{ o.medical_record.url }}" alt="Ficha Médica">
        {% endfor %} 
    {% else %}
        <h2>Sem fichas de Observação...</h2>
    {% endif %}
{% endblock %}