{% extends 'base.html' %}
{% block title %}SAFH | RH{% endblock %}
{% block content %}
<h1>RH</h1>
    {% if rh %}
        {% for r in rh %}
            <h2>Nome: {{ r.name }}</h2>
            <h2>SUS: {{ r.sus }}</h2>
            <h2>Sexo: {{ r.sex }}</h2>
            <h2>Data de Nascimento: {{ r.birth_date }}</h2>
            <h2>Data da Consulta: {{ r.consult }}</h2>
            <h2>Ficha Médica: </h2><img src="{{ r.medical_record.url }}" alt="Ficha Médica">
        {% endfor %}
    {% else %}
        <h2>Sem fichas de RH...</h2>
    {% endif %}
{% endblock %}