{% extends 'base.html' %}
{% block title %}SAFH | Simple{% endblock %}
{% block content %}
<h1>Simples</h1>

    {% if simple %}
        {% for s in simple %}
            <h2>Nome: {{ s.name }}</h2>
            <h2>SUS: {{ s.sus }}</h2>
            <h2>Sexo: {{ s.sex }}</h2>
            <h2>Data de Nascimento: {{ s.birth_date }}</h2>
            <h2>Data da Consulta: {{ s.consult }}</h2>
            <h2>Ficha Médica: </h2><img src="{{ s.medical_record.url }}" alt="Ficha Médica">
        {% endfor %}
    {% else %}
        <h2>Sem fichas Simples...</h2>
    {% endif %}
{% endblock %}