{% extends 'base.html' %}
{% block title %}SAFH | Sutura{% endblock %}
{% block content %}
<h1>Sutura</h1>
    {% if suture %}
        {% for su in suture %}
            <h2>Nome: {{ su.name }}</h2>
            <h2>SUS: {{ su.sus }}</h2>
            <h2>Sexo: {{ su.sex }}</h2>
            <h2>Data de Nascimento: {{ su.birth_date }}</h2>
            <h2>Data da Consulta: {{ su.consult }}</h2>
            <h2>Ficha Médica: </h2><img src="{{ su.medical_record.url }}" alt="Ficha Médica">
        {% endfor %}
    {% else %}
        <h2>Sem fichas de Sutura...</h2>
    {% endif %} 
{% endblock %}